$primary: #f4c034;
$grey: #323232;
$green: #5cb85c;
$blue: #00aea1;
$warning: #f0ad4e;
$danger: #d9534f;

$white: #ffffff;
$text: #915a44;

$desktop: 992px;
$tablet: 768px;
$min: 320px;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
