<div id="list-search-result" class="container page-block">
    <ul>
        {% for item in items %}
            {{ item.value }}
        {% endfor %}
    </ul>
</div>

<script>
    $(function() {
        var term = decodeURI(parseQuery(location.search).keys);
        terms = term.split('+');
        terms.forEach(function(t) { if(t) highlightSearchTerms(t); });
    });
</script>