<div id="list-search-result" class="container page-block">
    <ul>
        {% for item in items %}
            <li>{{ item }}</li>
            <hr style="border-color: #e5e5e5">
        {% endfor %}
    </ul>
</div>
<script>
    $(function() {
        var term = decodeURI(parseQuery(location.search).keys);
        console.log(term);
        if(term) highlightSearchTerms(term);
    });
</script>