<article class="search-result-item" style="margin-bottom: 20px">
    <h4>
        <a {% if url %}href="{{ url }}"{% endif %}>
            {{ title }}
        </a>
    <h4>
    {% if result.node.body.0.value | length > 0 %}
        <p>{{ result.node.body.0.value | trim | raw }}</p>
    {% else %}
        <p>无内容预览。</p>
    {% endif %}
</article>
