<article class="search-result-item" style="margin-bottom: 20px">
    <h4>
        <a {% if url %}href="{{ url }}"{% endif %}>
            {{ title }}
        </a>
    <h4>
    {% for field in matched_fields %}
        <div>{{ field | raw }}</div>
    {% endfor %}
</article>
