.nav {
  line-height: 64px;
  margin-bottom: 0;
  li {
    padding-left: 0;
    padding-right: 0;
    a {
      display: inline-block;
      text-align: center;
      line-height: 30px;
      width: 100px;
      border-radius: 5px;
      transition: all .3s;
      &:hover {
        text-decoration: none;
        background-color: lighten($primary, 10%);
        color: $text;
      }
      &.is-active {
        background-color: $primary;
        color: $text;
      }
    }
  }
}
