.search-box {
  padding: 15px;
  position: relative;
  text-align: right;
  input {
    border-radius: 15px;
    border: 1px solid $text;
    color: $text;
    font-size: 0.8em;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 25px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
    &[type=submit] {
      display: none;
    }
  }
  .icon-search {
    font-size: 15px;
    left: 20px;
    position: absolute;
    top: 20px;
  }
}



@media (min-width: $tablet) {
  .search-box {
    padding-top: 0;
  }
}