<section class="product-lists container page-block">
    <div class="">
        <div class="">
            <ul id="product-types" class="list-inline">
                <li><a class="btn btn-default" href="/products/all">所有类型</a></li>
            {% for row in content["view_build"]["#rows"][0]["#rows"] %}
                <li>
                {{ row }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>
    $(function() {
        if(location.pathname.endsWith('all')) {
            highlight('product_type', location.search);
        }
        highlight('products', location.search)
    });
</script>
