{% extends "block--views-block--coops-base.html.twig" %}

{% block icon %}
    <i class="icon-home"></i>
{% endblock %}

{% block header_link %}
    <a href="/coops/overview" class="btn btn-primary">更多合作社信息</a>
{% endblock %}
