{% extends "block--views-block--products-base.html.twig" %}

{% block icon %}
    <i class="icon-basket"></i>
{% endblock %}

{% block footer_link %}
    <a class="btn btn-primary btn-lg" href="/products/overview">查看更多</a>
{% endblock %}
