<section class="product-lists container page-block">
    <div class="head">
        <h3>
            {% block icon %}<i class="icon-home"></i>{% endblock %}
            <span>{{ label }}</span>
        </h3>
        {% block header_link %}{% endblock %}
    </div>
    {{ content }}
    <div class="text-center">
        {% block footer_link %}{% endblock %}
    </div>
    <div class="block-action">
        {% block whatever_link %}{% endblock %}
    </div>
</section>

