<section class="product-lists">
  <div class="container page-block">
    <div class="row head">
      <div class="col-md-10">
        <h3>
          <i class="icon-home"></i>
          <span>{{ label }}</span>
        </h3>
      </div>
    </div>
    <ul class="row image-list coop-list">
      {% for row in content["view_build"]["#rows"][0]["#rows"] %}
        {% if loop.index0 % 3 == 0 and loop.index0 != 0 %}
    </ul>
    <ul class="row image-list product-list">
        {% endif %}
      <li class="col-md-4 col-sm-6 col-xs-12">
        {{ row }}
      </li>
      {% endfor %}
    </ul>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="/coops">查看更多</a>
    </div>
  </div>
</section>
