{% extends "block--views-block--coops-base.html.twig" %}

{% block icon %}
    <i class="icon-home"></i>
{% endblock %}

{% block footer_link %}
    <a class="btn btn-primary btn-lg" href="/coops">查看更多</a>
{% endblock %}
