<section class="product-lists">
    <div class="container page-block">
        <div class="row head">
            <div class="col-md-10">
                <h3>
                    {% block icon %}<i class="icon-home"></i>{% endblock %}
                    <span>{{ label }}</span>
                </h3>
            </div>
            <div class="col-md-2 text-right">
                {% block header_link %}{% endblock %}
            </div>
        </div>
        {{ content }}
        <div class="text-center">
            {% block footer_link %}{% endblock %}
        </div>
    </div>
</section>

