{% extends "block--views-block--products-base.html.twig" %}

{% block icon %}
    <i class="icon-star-circled"></i>
{% endblock %}

{% block header_link %}
    <a href="/products/overview" class="btn btn-primary">更多农产品信息</a>
{% endblock %}
