<div class="col-md-3 col-sm-6 col-xs-6">
    <h5>{{ label }}</h5>
    <ul class="list-unstyled">
        {% for item in items %}
            <li>
                {{ item.content }}
            </li>
        {% endfor %}
    </ul>
</div>
