<div class="container">
    {{ content }}
    <div class="row copyright">
        <div class="col-md-12 text-center">
            <p>Copyright © Heiferchina.Org All Rights Reserved. 网站设计 ThoughtWorks</p>
        </div>
    </div>
</div>