{% extends "page.html.twig" %}

{% block content %}
    <style>
        .tabs {
            display: none;
        }
        .description {
            display: none;
        }
        .user-login-form .form-item {
            margin-bottom: 20px;
        }
        .user-login-form .form-item input {
            color: black;
        }
        #edit-submit {
            margin-left: 100px;
            color: #333333;
            background-color: #ffffff;
            border-color: #cccccc;
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
        main {
            margin-bottom: 0;
        }
        .hero-banner {
            margin-bottom: 0;
        }
    </style>
    <section class="hero-banner" style="background-image: url('/themes/krypton/static/images/banner-1.jpg');">
        <div class="container">
            {{ page.content }}
            <a href="/user/password" class="btn btn-default" style="margin-right: 100px; margin-top: -60px;">重置密码</a>
        </div>
    </section>
{% endblock %}